ul {
  margin:none;
  padding:0px;
}

li {
  float:left;
  
  margin-left: 15px;
  list-style:none;
}

a {
 text-decoration:none;
  color:lime;
  text-align: center;
  padding:12px 12px;
  border-bottom:2px;border-bottom-style: ridge;border-bottom-color:#00ff00;
}

a:hover {
  color:#16a216; 
  border-bottom:2px;border-bottom-style: ridge;border-bottom-color:#16a216;
  transition:0.8s;
}

body {
  background-color:lime;
}

.idkbro {
  background-color:black;
  padding-bottom:lime;
  
  

}

.i {
background-color: black;padding:30px 0px;padding-top:15px;padding-bottom: 45px;
}
